django~=4.2.0
django-environ==0.11.2
requests==2.31.0
pillow==10.3.0
pandas==2.2.2
openpyxl==3.1.2
django-bootstrap5==24.2
psycopg2-binary~=2.9.9

django-debug-toolbar~=4.2.0
ipython
django-extensions~=3.2.3